.card {
    display: inline-block;
    margin: 15px;
    width: 200px;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    margin: 0 auto;
    border-radius: 50%;
    width: 55%;
    position: relative;
    bottom: -20px;
}

.card .header {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    height: 80px
}

.card .body {
    background: #FFFFFF;
    height: auto;
    padding-top: 55px;
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
}

.card .body h4 {
    color: #6278F7;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -10px;
}

.card .body h5 {
    font-size: 16px;
    color: #212121;
}