/* src/componentes/Rodape/index.js */

.footer {
    align-items: center;
    background: #6278f7;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 20px;
    margin: 0 auto;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}